{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock title %}
{% block page_title %}
  {% if request.user.is_authenticated %}
    {% trans "Bienvenido a Carpitec.S.R.L" %} – {{ request.user.name }}
  {% else %}
    {% trans "Bienvenido a Carpitec.S.R.L" %}
  {% endif %}
{% endblock page_title %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{% trans "Dashboad" %}</li>
{% endblock breadcrumb %}

{% block main %}
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <h3><i class="fas fa-warehouse"></i></h3>
          <p>{% trans "Inventario" %}</p>
        </div>
        <div class="icon">
          <i class="fas fa-box-open"></i>
        </div>
        <a href="#" class="small-box-footer">{% trans "Vista" %} <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h3><i class="fas fa-shopping-cart"></i></h3>
          <p>{% trans "Ventas" %}</p>
        </div>
        <div class="icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <a href="#" class="small-box-footer">{% trans "Vista" %} <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3><i class="fas fa-box"></i></h3>
          <p>{% trans "Pedidos" %}</p>
        </div>
        <div class="icon">
          <i class="fas fa-truck-loading"></i>
        </div>
        <a href="#" class="small-box-footer">{% trans "Vista" %} <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3><i class="fas fa-users"></i></h3>
          <p>{% trans "Usuarios" %}</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-circle"></i>
        </div>
        <a href="#" class="small-box-footer">{% trans "Vista" %} <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% trans "Welcome" %}</h3>
        </div>
        <div class="card-body">
          <p class="mb-0">{% trans "Usa este dashboard para navegar a Inventario, Ventas, Pedidos y Usuarios." %}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
