{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock title %}

{% block page_title %}{% trans "Dashboard" %}{% endblock page_title %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{% trans "Dashboard" %}</li>
{% endblock breadcrumb %}

{% block main %}
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <h3><i class="fas fa-box"></i></h3>
          <p>{% trans "Catalog" %}</p>
        </div>
        <div class="icon">
          <i class="fas fa-box-open"></i>
        </div>
        <a href="#" class="small-box-footer">{% trans "View" %} <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h3><i class="fas fa-shopping-cart"></i></h3>
          <p>{% trans "Sales" %}</p>
        </div>
        <div class="icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <a href="#" class="small-box-footer">{% trans "View" %} <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3><i class="fas fa-info-circle"></i></h3>
          <p>{% trans "About" %}</p>
        </div>
        <div class="icon">
          <i class="fas fa-info"></i>
        </div>
        <a href="{% url 'about' %}" class="small-box-footer">{% trans "View" %} <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3><i class="fas fa-user"></i></h3>
          <p>{% trans "Account" %}</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-circle"></i>
        </div>
        {% if request.user.is_authenticated %}
          <a href="{% url 'users:detail' request.user.pk %}" class="small-box-footer">{% trans "My Profile" %} <i class="fas fa-arrow-circle-right"></i></a>
        {% else %}
          <a href="{% url 'account_login' %}" class="small-box-footer">{% trans "Sign In" %} <i class="fas fa-arrow-circle-right"></i></a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% trans "Welcome" %}</h3>
        </div>
        <div class="card-body">
          <p class="mb-0">{% trans "Use this dashboard to navigate to Catalog, Sales, and your account." %}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
