{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block extrastyle %}{{ block.super }}
{% endblock extrastyle %}

{% block main %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% trans "Nueva tasa de cambio" %}</h3>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary mt-3">
            {% trans "Guardar" %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main %}