{% extends "layouts/auth_base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock title %}

{% block bodyclass %}register-page{% endblock bodyclass %}

{% block content %}
  <div class="register-box">
    <div class="register-logo">
      <a href="{% url 'home' %}"><b>Madera</b></a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">{% trans "Register a new membership" %}</p>

        <form method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <small class="text-danger mb-3 d-block">{{ error }}</small>
            {% endfor %}
          {% endif %}

          {% for field in form %}
            <div class="input-group mb-3">
              {{ field }}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas {% if field.name == 'email' %}fa-envelope{% elif field.name == 'password1' or field.name == 'password2' %}fa-lock{% else %}fa-user{% endif %}"></span>
                </div>
              </div>
            </div>
            <small class="text-danger">{{ field.errors }}</small>
          {% endfor %}

          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree" />
                <label for="agreeTerms">{% trans "I agree to the" %} <a href="#">{% trans "terms" %}</a></label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">{% trans "Register" %}</button>
            </div>
          </div>
        </form>

        <p class="mt-4 mb-2 text-center">
          {% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
